
dataset_pickle/data_batch_1

*.iml

.idea/dictionaries/Balaji.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml

dataset_pickle/data_batch_2

dataset_pickle/data_batch_3

dataset_pickle/data_batch_4

dataset_pickle/data_batch_5

dataset_pickle/test_batch

*.pyc
